$primary-color-1: #84c8f8;
$primary-color-2: #3ba9f8;
$secondary-color-1: #fa78b0;
$secondary-color-2: #fa4996;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;