.activity-card {
    font-family: $secondary-font;

    &-img {
        height: 314px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            transition: all 0.3s linear;
        }

        // &:hover img {
        //     transform: scale(1.2);
        // }
    }

    &-content {
        margin-top: 18px;

        span {
            font-size: 14px;
            padding: 8px 16px;
            color: #fff;
            border-radius: 10rem;
            @include backgroundPink;
        }

        h3 {
            font-weight: bold;
            margin-top: 16px;
            margin-bottom: 12px;
            transition: all 0.3s linear;
        }

        i {
            font-size: 16px;
            width: 50px;
            height: 50px;
            border: 0;
            border-radius: 50%;
            background-color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-out;
        }

        // &:hover h3 {
        //     color: $secondary-color-2;
        //     transform: translateX(10px);
        // }

        // &:hover i {
        //     color: #fff;
        //     @include backgroundPink;
        // }
    }
}

.activity-hover:hover .activity-card-img img {
    transform: scale(1.2);
}

.activity-hover:hover .activity-card-content h3 {
    color: $secondary-color-2;
    transform: translateX(10px);
    text-decoration: underline;
}

.activity-hover:hover .activity-card-content i {
    color: #fff;
    @include backgroundPink;
}