:root {
    --ktcb-primary-blue: #a7dbffff;
    --ktcb-primary-pink: #faafd0ff;
}

ul {
    padding-left: unset;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.modal__overlay {
    position: fixed;
    top: calc(0% + var(--header-height));
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
}

.ui-accordion ul.ui-accordion-content {
    padding: unset;

}

.accordion {
    cursor: pointer;
    padding: 10px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}

.active span {
    color: red;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.mobile__header-nav-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}


.rotate-down .mobile__category-item-icon {
    transform: rotate(90deg);
    transition: transform 0.4s ease-out;
    color: red;
}

#back-to-top {
    display: inline-block;
    background-image: linear-gradient(to right, #ff91c0, #fa4996);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    border: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#back-to-top:hover {
    transform: translateY(-10px);
}

#back-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: #fff;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}